$littleLaptopBreakPoint: 1330px;
$tabletBreakPointMin: 1081px;
$tabletBreakPoint: 1080px;
$headerBreakPoint: 920px;
$headerBreakPointMin: 921px;
$mobileBreakPointMin: 769px;
$mobileBreakPoint: 768px;
$littleMobileBreakPointMin: 521px;
$littleMobileBreakPoint: 520px;
