:root {
    --white-100: #FFFFFF;
    --black-700: #070707;
    --orange-500: #BF7E00;
    --orange-700: rgba(191, 126, 0, 0.35);
    --orange-900: rgba(191, 126, 0, 0.15);
    --blue-500: #00B6BF;
    --blue-700: rgba(0, 182, 191, 0.1);
    --blue-900: rgba(0, 182, 191, 0.05);
    --grey-300: #3A3A3A;
}
